Package: com.arab-cydia.Boxyt3
Version: 0.0.1-2
Description: تعريب Boxy3
Section: T3reb
Maintainer: Arab-Cydia <repo@Arab-Cydia.com>
Depends: mobilesubstrate
Architecture: iphoneos-arm
Installed-Size: 124
Name: Boxy3 تعريب
Author: ‏αвσ яαĸαη✨
Sponsor: Arab-Cydia <https://www.Arab-Cydia.com/repo/>
